/vendor
/views
/txt/
/temp/
/swagger/
/src
/plugins/
/models/
/log/
/locale/
/laravel/
/lang/
/js/
/jquery/
/images/
/html/
/fullcalendar/
/font/
/files/
/font/
/css/
/controllers/
/colorbox/
/ckeditor/
/calendar/
/boostrap5/
/asdd/
/api/
/AJAX/
/afip.php-master/
/adminlte3/
/FE_Pack_WSFE
